node_modules/
ios
android
# Dependency directories
node_modules/
ios/Pods/
android/.gradle/
android/app/build/
android/build/

# Gradle files
*.log
.gradle/

# Android
android/local.properties
android/.idea/
android/captures/

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcworkspace/
ios/*.xcuserdatad/
ios/DerivedData/
ios/Builds/
ios/.expo/
ios/.expo-shared/
