GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_SCOPE=user:email

RESEND_KEY = ""
SESSION_SECRET=secret
JWT_SECRET=secret
DATABASE_URL=postgres://fossfolio:fossfolio@localhost:5432/fossfolio

ACCESS_TOKEN_VALIDITY=10s
CLIENT_REDIRECT_URI=http://localhost:3000/auth
API_BASE_URL=http://localhost:8000
WEB_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback
GOOGLE_SCOPE=profile,email



MAIL_FROM=info@fossfolio.com
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_USER=


AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
AWS_REGION = ""



STRIPE_SECRET_KEY = ""
STRIPE_WEBHOOK_SECRET = ""

AI_KEY = ""